:root {
    --font-color: burlywood;
    --page-animation: h1Anim 1.5s ease-out;
    --bg-size: cover;
    --transparent-bg: rgba(0, 0, 0, 0.685);
    --outline-color: #00d6c4;
    --span-color: rgb(208 156 91);
    --border-style-left: 2px solid var(--outline-color);
}
body {
    padding: 0px;
    margin: 0px;
    background: url('../img/menu.jpg') no-repeat top rgba(0, 0, 0, 0.178);
        background-size: var(--bg-size);
    background-attachment: fixed;
        animation: var(--page-animation);
            transition: background 1.2s ease-in;
        
        }


.itemBody {
    background: url('../img/item1.jpg') no-repeat bottom;
    background-size: var(--bg-size);
    background-attachment: fixed;
}

.contactBody {
        background: url('../img/contact.jpg') no-repeat center;
            background-size: var(--bg-size);
    background-attachment: fixed;
}


h1 {
    font-size: 7rem;
    margin: 0;
    text-align: center;
    color: var(--font-color);
        animation: var(--page-animation);
    }


#content {
    display: flex;
    flex-direction: column;
}

.mainSection {
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
        font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
}

.menu {
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    gap: 2px;
        justify-content: space-between;
    font-weight: bold;
    margin-top: 5px;
    position: relative;
}

 .menu>* {
    display: flex;
    justify-content: center;
        flex-grow: 1;
        background-color: #121212;
        border-radius: 10px;
        padding: 10px;
    color: var(--font-color);
        transition: 1.5s;
    border: 2px solid #342215;
}


.menu>*:hover {
    cursor: pointer;
    transform: scale(0.95);
    background-color: #342215;
    border: 2px solid var(--font-color);
        color: #bea095;
    }
    
    .foodItems {
        padding-top: 92px;
        text-align: center;
        display: grid;
        align-self: center;
        gap: 20px;
            max-width: 90%;
            grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    }
    
    .foodItems>div {
        display: grid;
        background-color: var(--transparent-bg);
        border-radius: 10px;
        padding: 10px;
animation: var(--page-animation);
            transition: 1.5s;
            }

.foodItems>div>span {
    color: rgb(241, 221, 191);
}
    span {
        font-size: 1.5rem;
        text-align: center;
        color: var(--span-color);
            font-weight: bold;
    }

  .quote {
    font-size: 3rem;
    color: var(--font-color);
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        animation: h1Anim 1.5s ease-out;
            opacity: 1;
    }
    
    .bottomMenuFlex {
    text-align: center;
        position: absolute;
        bottom: 0px;
    align-items: center;
    background-color: var(--transparent-bg);
        border-radius: 30px;
        padding: 5px;
            animation: var(--page-animation);
    }
    
    .details {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .detailsDiv {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px;
        border-left: var(--border-style-left);
        padding-left: 10px;
    }
    
    .detailsHeading {
        font-size: 3rem;
        font-style: italic;
        color: var(--font-color);
        margin: 0;
        padding-right: 20px;
    }
    
    .aboutUsHeading {
        font-size: 3rem;
        font-style: italic;
        color: var(--font-color);
        text-align: center;
        margin: 0;
        padding-right: 10px;
    }
    
    .detailsDiv>div>span {
        color: var(--span-color) !important;
    }
    
    .aboutUsSpan {
        padding-top: 10px;
        font-size: 1.5rem;
        color: var(--span-color) !important;
        text-align: center;
        border-left: var(--border-style-left);
            font-size: 1.7rem;
    }
    
    .aboutUsDiv {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .addOutline {
        border-bottom: 2px solid var(--font-color);
    }
    
    .foodPicOne,
    .foodPicTwo,
    .foodPicThree,
    .foodPicFour,
    .foodPicFive,
    .foodPicSix,
    .foodPicSeven,
    .foodPicEight {
        height: 150px;
    }
    
    .foodPicEight {
        background: url('../img/food/8.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicSeven {
        background: url('../img/food/7.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicSix {
        background: url('../img/food/6.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicFive {
        background: url('../img/food/5.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicFour {
        background: url('../img/food/4.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicThree {
        background: url('../img/food/3.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicTwo {
        background: url('../img/food/2.jpg') no-repeat center;
        background-size: var(--bg-size);
    }
    
    .foodPicOne {
        background: url('../img/food/1.jpg') no-repeat center;
        background-size: var(--bg-size);
        }
        
        .foodItems>*:hover {
            transform: scale(1.07);
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.897);
        }
        
        @keyframes h1Anim {
            0% {
                opacity: 0;
            }
        
            100% {
                opacity: 1;
            }
        }