body {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: url('../img/menu.jpg') no-repeat top rgba(0, 0, 0, 0.178);
    background-size: cover;
    background-attachment: fixed;
    transition: all 1s;
    overflow: hidden;
}

.itemBody {
    background: url('../img/item1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1s;
}

.contactBody {
        background: url('../img/contact.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1s;
}

h1 {
    font-size: 7rem;
    margin: 0;
    margin-bottom: 50px;
    text-align: center;
    color: burlywood;
        transition: all 1s;
}

#content {
    display: flex;
    flex-direction: column;
}

.mainSection {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
        flex-direction: column;
        transition: all 1s;
}

.menu {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
        gap: 2px;
        justify-content: space-between;
    font-weight: bold;
    margin-top: 5px;
}

 .menu>* {
    display: flex;
        justify-content: center;
        flex-grow: 1;
        background-color: #121212;
        border-radius: 10px;
        padding: 10px;
    color: burlywood;
    transition: all 1s;
    border: 2px solid #342215;
}


.menu>*:hover {
    transition: all 1s;
    cursor: pointer;
    transform: scale(0.95);
    background-color: #342215;
        border: 2px solid burlywood;
        color: #bea095;
    }
    
    .foodItems {
        padding-top: 15px;
            padding-left: 210px;
        display: grid;
        gap: 25px;
        max-width: 78%;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            opacity: 100;
    }
    
    .foodItems>div {
        display: grid;
        background-color: rgba(0, 0, 0, 0.575);
        border-radius: 10px;
        padding: 10px;
    }
    
    .food {
        background: url('../img/food/1.jpg') no-repeat center;
        background-size: cover;
        height: 230px;
    }
                            
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    span {
        font-size: 1rem;
        text-align: center;
        color: #bea095;
        /* background-color: #342215; */
    }
  .quote {
      font-size: 4rem;
      color: burlywood;
      text-align: center;
      /* padding-top: 600px; */
      font-style: italic;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      transition: all 1s;
  }